* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #2155bf;
}

.main-div {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 700px) {
  .main-div {
    flex-direction: row;
  }
}
.feature {
  /* background-color: #2155bf; */
  background-color: #266bf5;
  width: 6%;
  height: 96vh;
  margin: 10px;
  border-radius: 20px;
}
.feature img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  left: 2.5%;
  top: 90%;
}
.ChatList {
  width: 30%;
  height: 96vh;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
}

.ChatArea {
  width: 64%;
  background-color: #e6e6e6;
  border-radius: 30px;
  margin: 10px;
  height: 96vh;
  position: relative;
}
.ChatArea header {
  /* background-color: deepskyblue; */
  width: 100%;
  height: 10vh;
  background-color: rgb(172, 172, 172);
  border-radius: 20px 20px 0px 0px;
}
.ChatArea .profile {
  margin-left: 20px;
  position: absolute;
  margin-top: 3px;
}
.ChatArea .headerOption {
  width: 4vh;
  height: 4vh;
  position: absolute;
  right: 0;
  margin-top: 18px;
  outline: none;
  cursor: pointer;
  margin-right: 18px;
}
.chatbox {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  background-color: red;
  border-radius: 0px 0px 20px 20px;
  border: 0;
}
.chatbox .footerOption {
  width: 7vh;
  height: 7vh;
  position: absolute;
  right: 1;
  margin-top: 0.5rem;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}
.chatbox input {
  width: 85%;
  height: 8vh;
  margin-top: 5px;
  outline: none;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  margin-left: 9.5vh;
  padding-left: 5%;
}
.chatbox .send {
  width: 7vh;
  height: 7vh;
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}
#style1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f8f8f8;
  margin: 150px;
}

#style1::-webkit-scrollbar {
  width: 12px;
}

#style1::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #272727;
}

.newChat {
  width: 100%;
  height: 10%;
  background-color: #40c2f5;
  border-radius: 50px;
  font-size: 20px;
  align-items: center;
  display: flex;
  position: relative;
}
.newChat button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 45px;
  outline: none;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 0;
  margin-right: 08px;
}
.newChat h2 {
  margin-left: 10px;
}

.chat {
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  background-color: #40c2f5;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 5px;
}

.chat:hover {
  background-color: #01a6e7;
  cursor: pointer;
  transition-duration: 0.4s;
}
.chat p {
  text-align: center;
  align-items: center;
  position: relative;
  margin: 20px 10px;
  font-weight: 500;
}
.profile {
  display: flex;
  align-items: center;
  text-align: center;
}
.profile img {
  width: 55px;
  height: 55px;
  border-radius: 50px;
}
.profile p {
  font-size: 22px;
  margin-left: 10px;
  font-weight: 500;
  position: relative;
}
.search {
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  background-color: #40c2f5;
  border-radius: 50px;
  margin-top: 10px;
}
.search input {
  width: 80%;
  height: 80%;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-top: 6px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  padding-left: 20px;
}
.search img {
  position: absolute;
  right: 0;
  margin: 0.5rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 25px;
}
